.WeddingLocation {
  text-align: center;
  margin-top: 2.5rem;
}

.title {
  font-size: 1.24rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.titleDivider {
  font-weight: 400;
}

.description {
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.75rem;
}