.mainImageContaier {
  /* border-radius: 500px 500px 0px 0px; */
  /* border-top-left-radius: 200px;
  border-top-right-radius: 200px; */
  /* border-top-left-radius: 50px;
  border-top-right-radius: 50px; */

  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  position: relative;
  margin: 60px auto 0;
  max-width: 500px;
  aspect-ratio: 4 / 6;
}
