.mainImageContaier {
  /* border-radius: 500px 500px 0px 0px; */
  overflow: hidden;
  width: 100%;
  height: calc((100svw - 40px)*1.373);
  position: relative;
  margin: 46px auto 0;
  max-width: 500px;

  @media (min-width: 768px) {
    height: calc(500px * 1.373);
  }
}